.titulo {
    margin: 0px;
    font-size: 30px;
    /* text-align: left; */
}

.titulo:hover {
    opacity: 0.8;
}


/* ------------- mediaQuery --------------- */

@media (max-width: 600px) {
    .titulo {
        font-size: 20px;
    }
}