.tituloMenu {
    margin-bottom: 6px;
    font-size: 19px;
}
.tituloMenu:hover {
color: rgb(58, 99, 67);
}



@media (max-width: 1250px) {
    .tituloMenu {
        font-size: 18px;
    }

}

@media (max-width: 1050px) {
    .tituloMenu {
        font-size: 15px;
    }

}

@media (max-width: 800px) {
    .tituloMenu {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .tituloMenu {
        font-size: 10px;
    }

}

@media (max-width: 400px) {
    .tituloMenu {
        font-size: 7px;
    }

}