.detallesPeli {
    display:flex; /*pone al div como contenedor flex y a los hijos como flex item*/
    justify-content:center;
}

.descripcion {
    width: 70%;
    height: auto;
}
img {
    width: 30%;
    height: auto;
    border-radius: 15px;
    margin-right: 20px;
}

p {
    font-size: 25px;
}

strong {
    font-size: 30px;
    color: rgb(84, 194, 108);
}

@media (max-width: 800px) {
    p {
        font-size: 10px;
    }
    strong {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .detallesPeli {
        flex-direction: column;
        width: 100%;
    }

    img {
        width: 30%;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}