.detallesPeli {
    display:flex; /*pone al div como contenedor flex y a los hijos como flex item*/
    justify-content:center;
    border-radius: 15px;
    margin-top: 2%;
}

.descripcion {
    width: 70%;
    height: auto;
}
img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    margin-right: 20px;
}

p {
    font-size: 18px;
}

strong {
    font-size: 20px;
    color: rgb(84, 194, 108);
}

.tablaP {
    border:2px solid rgb(84, 194, 108);
    border-radius: 5px;
  }

  /* ____________________--- */

@media (max-width: 1250px) {
    strong {
        font-size: 19px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 1050px) {
    strong {
        font-size: 17px;
    }
    p {
        font-size: 12px;
    }
    img {
        width: 40%;
    }
}

@media (max-width: 800px) {
    strong {
        font-size: 16px;
    }
    p {
        font-size: 9px;
    }
    .detallesPeli {
        margin-left: 6%;
        margin-top: 6%;
    }
}

@media (max-width: 600px) {
    .detallesPeli {
        flex-direction: column;
        width: 100%;
    }
    .detallesPeli {
        margin-left: 25%;
        margin-top: 12%;
    }  

}
@media (max-width: 400px) {
    .detallesPeli {
        flex-direction: column;
        width: 100%;
    }
 

}