.buttonUp {
    width: 60px;
    height: 60px;
    background-color: rgb(45, 150, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}