.stiloRejilla {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px); /* ordena automatico en forma de columnas con un ancho de 200px cada columna */
    gap: 15px; /* separacion de 5px entre elementos*/
    padding: 5px;
    justify-content: center; /* para centrar los elementos*/
}

.descripcionBúsqueda {
    text-align: center;
    color: rgb(70, 151, 87);
}

@media (max-width: 560px) {
    .stiloRejilla{
        grid-template-columns: 100%;
    }
}