.peliculita {
    color: white;
    list-style: none;
    font-size: 15px;
    text-align: center;
}

.tituloPeli:hover {
    color: rgb(58, 99, 67);
}

.portada {
    border-radius: 15px;
    background-color: dimgray;
    width: 166px;
    height: 258px;
}

@media (max-width: 1050px) {
    .portada {
        width: 116.46px;
        height: 181.08px;
    }
    .peliculita {
        font-size: 8px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .portada {
        width: 93.1px;
        height: 144.8px;
    }
    .peliculita {
        font-size: 8px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .portada {
        width: 83%;
        height: auto;
    }
}