.peliculita {
    color: white;
    list-style: none;
    font-size: 15px;
    text-align: center;
}

.tituloPeli:hover {
    color: rgb(58, 99, 67);
}

.portada {
    border-radius: 15px;
    background-color: dimgray;
    width: 166px;
    height: 258px;
}

@media (max-width: 560px) {
    .portada {
        width: 50%;
        height: auto;
    }
}