.peliculita {
    color: white;
    list-style: none;
    font-size: 15px;
    text-align: center;
}

.peliculita:hover {
    opacity: 0.8;
    /* border: white 1px solid; */
    /* border-radius: 15px; */
}

.portada {
    border-radius: 15px;
    background-color: dimgray;
    width: 126px;
    height: 196px;
}

@media (max-width: 560px) {
    .portada {
        width: 50%;
        height: auto;
    }
}