/*_________________________ encabezado _________________________ */
.zonaEncabezado {
    position: fixed; 
    right: 19%;
    margin-top: -8px;
    margin-left: -7px;
    padding: 4px;
    width: 65.3%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(50, 100, 61); 
}
.search {
    position: fixed;
    left: 17%;
    top: 1%
}
.titulo {
    position: fixed;
    left: 45%;
    top: 0.8%
}
.perfil {
    position: fixed;
    top: 1.5%;
    right: 21%;
}
/*________________________ body _________________________ */

.elBody {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.zonaGeneros {
    position: fixed;
    /* background-color: rgb(34, 35, 36); */
    /* border: 1px solid; */
    margin-left: 3%;
    width: 10%;
    padding: 1%;
}
.zonaPeliculas {
    background-color: rgb(34, 35, 36);
    /* border: 1px solid; */
    width: 70%;
    padding: 1%;
    margin-left: 15%;
    margin-right: 18.8%;
}
.botonSubir {
    position: fixed;
    right: 10%;
}
.paginacion {
    position: fixed;
}
.zonaSponsors {
    /* background-color: rgb(34, 35, 36); */
    /* border: 1px solid; */
    position: fixed;
    right: -1%;
    margin-right: 3%;
    width: 15%;
    padding: 1%;
}

.sponsorAnuncio {
    background-color: rgb(135, 143, 150);
    margin: 5%;
}
.sponsorAnuncio:hover {
    /* background-color: rgb(34, 35, 36); */
    border: 1px solid white;
}

@media (max-width: 1250px) {
    h2 {
        font-size: 20px;
    }

}

@media (max-width: 1050px) {

    h2 {
        font-size: 15px;
    }

}