html {
    background-color: #081229;
    font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

/*________________________ encabezado _________________________ */
.zonaEncabezado {
    position: fixed; 
    right: 19%;
    margin-top: -8px;
    margin-left: -7px;
    padding: 4px;
    width: 65.3%;
    height: 7%;
    background-color: #081229; 
}
.search {
    position: fixed;
    left: 17%;
    top: 1%
}
.titulo {
    position: fixed;
    left: 42.5%;
    top: 0.8%
}
.perfil {
    position: fixed;
    top: 1.5%;
    right: 21%;
}
/*________________________ body _________________________ */

.elBody {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    background-color: #081229;
}
.zonaGeneros {
    position: fixed;
    /* background-color: rgb(34, 35, 36); */
    /* border: 1px solid; */
    margin-left: 3%;
    width: 10%;
    padding: 1%;
}
.zonaPeliculas {
    width: 70%;
    padding: 1%;
    margin-left: 15%;
    margin-right: 18.8%;
}
.botonSubir {
    position: fixed;
    right: 10%;
}
.paginacion {
    position: fixed;
}
.zonaSponsors {
    position: fixed;
    right: -1%;
    margin-right: 3%;
    width: 15%;
    padding: 1%;
}

.sponsorAnuncio {
    margin: 5%;
}
.sponsorAnuncio:hover {
    border: 1px solid white;
}

@media (max-width: 1250px) {
    h2 {
        font-size: 20px;
    }
    .elBody {
        padding-top: 5%;
    }
    .zonaPeliculas {
        margin-left: 20%;
    }
    .zonaSponsors {
        right: 5%;
    }
}

@media (max-width: 1050px) {
    h2 {
        font-size: 15px;
    }
    .elBody {
        padding-top: 8%;
    }
    .zonaPeliculas {
        margin-left: 22%;
    }
    .zonaSponsors {
        right: 5%;
    }
}

@media (max-width: 800px) {
    .search {
        position: fixed;
        left: 35%;
        top: 4%
    }
    .titulo {
        position: fixed;
        left: 39%;
        top: 0.8%
    }
    .elBody {
        padding-top: 9%;
    }
    .zonaPeliculas {
        margin-left: 18%;
    }
    .zonaSponsors {
        right: 5%;
    }
}

@media (max-width: 400px) {
    .search {
        position: fixed;
        left: 25%;
        top: 5%
    }
    .titulo {
        position: fixed;
        left: 33%;
        top: 0.8%
    }
    .elBody {
        padding-top: 16%;
    }
    .zonaGeneros {
        position: fixed;
        margin-left: 1%;
        width: 9%;
        padding: 1%;
    }
    h2 {
        font-size: 10px;
    }
    .zonaPeliculas {
        margin-left: 18%;
    }
    .zonaSponsors {
        right: 5%;
    }
}